<div class="jumbotron">
  <h1>Run Vaa3D Jobs in the Cloud</h1>
  <p class="lead">
    A fully managed service for running large Vaa3D jobs
  </p>
  <p><a class="btn btn-md btn-success" ng-href="#/create_job">Create Job</a>
    <a class="btn btn-md btn-primary" ng-href="http://home.penglab.com/proj/vaa3d/home/index.html">Visit Wiki</a></p>
</div>

<div class="row marketing">
  <h4>Vaa3D</h4>
  <p>
    Vaa3D extracts complex surface objects from images, and performs comprehensive analyses such as brain connectome mapping. Read more about <a ng-href="http://home.penglab.com/proj/vaa3d/home/index.html">Vaa3D</a>.
  </p>

  <h4>Cloud</h4>
  <p>
    Run Vaa3D jobs on multiple 3D images simultaneously on AWS without having to worry about installing the software or running out of memory or disk space
  </p>

  <h4>Visualize</h4>
  <p>Explore Vaa3D reconstructions in your browser (coming soon!)</p>
</div>
