<div class="container">
<div class="row">
  <h4>1. Upload Files to S3</h4>
  <p>
    The first step is to upload your 3D image files to our "vaa3d-input" S3 bucket. Email <a href="mailto:vaa3dapi@gmail.com?Subject=Vaa3D%20S3%20Login" target="_top">vaa3dapi@gmail.com</a> for login/password.
    <a href="{{s3LoginUrl}}" target="_blank">Login To S3</a>.
  </p>
</div>
<div class="row">
  <h4>2. Create Vaa3D Job</h4>
  <p>
    Select the files you would like to process. You will receive an email confirmation when the job completes.
  </p>
</div>
<form ng-submit="submitForm(createNewJob.$valid)" name="createNewJob" enctype="multipart/form-data">
  <div class="row">
    <div class="form-group" ng-class="{ 'has-error' : email.$invalid && !email.$pristine }">
      <label>Email Address</label>
      <input ng-model="emailAddress" name="email" type="email" class="form-control" required>
      <p ng-show="email.$invalid && !email.$pristine" class="help-block">Email address is required.</p>
    </div>
  </div>
  <div class="row">
    <div class="form-group" ng-class="{ 'has-error' : createNewJob.directory.$error.pattern && !directory.$pristine }">
      <label>Output Directory</label>
      <input ng-model="outputDir" ng-minlength=5 ng-pattern="outputDirRegex" name="directory" class="form-control" required>
      <p ng-show="createNewJob.directory.$error.pattern && !directory.$pristine" class="help-block">{{outputDirRegexHelpMsg}}</p>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <!--<thead>
        <tr>
          <th></th>
          <th>Filename</th>
        </tr>
      </thead>-->
      <tbody>
        <tr ng-repeat="(filename,selected) in filenames">
          <!--<td>{{$index+1}}</td>-->
          <td>
            <input type="checkbox" ng-model="filenames[filename]">         
          </td>
          <td>{{filename}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" style="margin-bottom:20px;">
    <button type="submit" class="btn btn-primary">Create Job</button>
  </div>
</form>
</div>