<div>
  <form>
    <div class="form-group">
      <label>Method</label>
        <select 
          ng-model="newJob.pluginSettings.method"
          name="methodName" 
          class="form-control">
          <option ng-repeat="method in plugins[newJob.pluginName].method.values">{{method}}</option>
        </select>
      <label>Channel</label>
        <select 
          ng-model="newJob.pluginSettings.channel"
          name="channelType" 
          class="form-control">
          <option ng-repeat="channel in plugins[newJob.pluginName].channel.values">{{channel}}</option>
        </select>
      </div>
  </form>
</div>
